<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alterar fornecedor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/cadastrar.css">
    
</head>
<body>
    
    <header>
        <h1>Alterar fornecedor</h1>

        <aside id="alert-msg">
        </aside>

        <div class="form">
            <div class="row g-3">
                <div class="col">
                    <label for="cnpj" class="form-label">CNPJ</label>
                    <input style="cursor: not-allowed;" type="text" class="form-control" name="cnpj" id="cnpj" placeholder="Insira o CNPJ" maxlength="18" disabled value="<%= cnpj %>">
                </div>
                <div class="col">
                    <label for="fone" class="form-label">Telefone</label>
                    <input type="text" class="form-control" name="fone" id="fone" placeholder="Insira um telefone" maxlength="15" value="<%= fone %>">
                </div>
            </div>
            
            <div class="col-12">
                <label for="nome" class="form-label">Razão social (nome da empresa)</label>
                <input type="text" class="form-control" name="nome" id="nome" placeholder="Insira a razão social" value="<%= nome %>">
            </div>
        </div>

        <div class="box-buttons">
            <a href="/" class="btn btn-secondary" id="btn-voltar">Listar fornecedores</a>
            <button class="btn btn-success" id="btn-alterar">Alterar</button>
        </div>
    </header>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/js/alterar.js"></script>
</body>
</html>